[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinotify = {version = "*", platform_system = "== 'Linux'"}
pypiwin32 = {version = "*", platform_system = "== 'Windows'"}
macfsevents = {version = "*", platform_system = "== 'Darwin'"}

[dev-packages]
twine = "*"
pylint = "*"
